.body{
    background-color: rgb(100, 128, 248) !important;
}
.seconnecter{


    font-size: 30px;
    font-family: 'Gill Sans';
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.was-validated{

    margin-top: 1500px;
    background-color: rgb(253, 253, 253);
    padding: 10px;
    box-shadow: 10px 0 20px rgb(92, 92, 92);
    
    }
    .body{
        background-color: rgb(203, 197, 255) !important;
    }